[core]
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = ~/.gitignore
[user]
	name = Brett Carter
	email = bcarter@appnexus.com
[color]
    ui = true
[color "diff"]
    whitespace = red reverse
[format]
    pretty = medium
[alias]
    nlog = log --stat
[push]
        default = tracking
[merge]
        defaultToUpstream = true
[alias]
    br = branch
    ci = commit
    co = checkout
    df = diff
    lg = log -p
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = ls-files
    st = status
    ss = show --stat --oneline

    # Show files ignored by git:
    ign = ls-files -o -i --exclude-standard
    f = merge --ff-only
    ff = pull --ff-only

    # Stuff I can never remember
    push-branch = "!f() { git push -u ${1:-origin} `git symbolic-ref HEAD`; }; f"

    # list branches by age
    list-branches = "!for k in `git branch -r|awk '{print $1}'`;do echo `git show --pretty=format:\"%Cgreen%ci %Cblue%cr %Cred%cn %Creset\" $k|head -n 1`\t$k;done|sort -r"

    # Pretty changelog by user for releases
    ul = "!f() { git log --format='%ae' ${@} | sort | uniq | cut -d'@' -f1 | while read u;do echo @$u;done }; f"

[gist]
	private = yes
[rerere]
	enabled = true
