.emacs.d/history
.emacs.d/auto-save-list
.emacs.d/tramp
.emacs.d/.emacs.desktop
.emacs.d/.emacs.desktop.lock
.emacs.d/ac-comphist.dat
.emacs.d/url/cookies
.emacs.d/elpa/archives
.emacs.d/elpa/**
.emacs.d/geben/.storage
*.elc
.git
.emacs.d/cache
.emacs.d/tmp
.idea
.idea/*
